.Formlabel{
 padding: 5px;
}

.FormInputField{
  padding: 5px;
}

.FormSubmitButton{
  background-color: #add8e6; 
  border: none;
  border-radius: 10 px;
  color:  #ffffff;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}